{% extends "flights/base.html" %}

{% block content %}
<h1>Flight:</h1>
    <h2>Flight {{single_flight.number}}</h2>
    <h2>{{single_flight.origin.country }} to {{single_flight.destination.country}}</h2>
    <h3>Origin: {{single_flight.origin}}</h3>
    <h3>Destination: {{single_flight.destination}}</h3>
    <h3>Duration: {{single_flight.duration}}</h3>

    <h2>Passengers</h2>

    <ul>
        {% for passenger in passengers %}
            <li>{{ passenger }}</li>
        {% endfor %}
    </ul>
{% endblock %}